apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-application
  namespace: argocd
spec:
  project: default
  sources:
  - repoURL: https://github.com/DohelMoto/DohelMoto-GitOps.git
    targetRevision: HEAD
      ref: values
  - repoURL: https://github.com/DohelMoto/DohelMoto.git
    targetRevision: HEAD
    path: helm
    helm:
      valueFiles:
        - $values/environments/dev/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
